name: ibank
description: "iBank Mobile Application"
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  # UI
  cupertino_icons: ^1.0.8

  # State Management & Routing
  get: ^4.6.6

  # Backend (Supabase)
  supabase_flutter: ^2.8.0

  # Env
  flutter_dotenv: ^5.1.0

  # Utils
  intl: ^0.20.2
  equatable: ^2.0.5

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/
    - assets/icons/
    - .env
